/*ul {
    align-items: center;
}

li {
    align-items: center;
}

.profileTitle {
    margin-left: 0;
}

.centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

h3 {
    align-items: center;
}*/