.forgotpassword-modalContainer {
  width: 50%;
  max-width: 600px;
  height: auto;
  max-height: 80vh;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}


@media (max-width: 600px) {
  .forgotpassword-modalContainer {
    width: 90%; 
    max-width: none; 
    margin: 10px; 
    padding: 15px;
  }
}


.button,
.forgotpassword-modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .button,
  .forgotpassword-modalContainer .footer button {
    width: 100%; 
  }
}


#cancelBtn {
  background-color: crimson;
}


@media (max-width: 600px) {
  #cancelBtn {
    width: 100%; 
  }
}

    
.forgotpassword-title {
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Add some margin at the bottom */
}

.forgotpassword-title h1 {
  font-size: 2rem; /* Adjust the font size */
}

/* Media query for screens smaller than 600px (typical mobile devices) */
@media (max-width: 600px) {
  .forgotpassword-title h1 {
    font-size: 1.5rem; /* Reduce font size for smaller screens */
  }
}
