.forgotpassword-modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgotpassword-modalContainer {
    width: 50%; /* Adjust the width as needed */
    max-width: 600px; /* Limit the maximum width */
    height: auto; /* Adjust the height to be auto */
    max-height: 80vh; /* Limit the maximum height */
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .forgotpassword-modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .forgotpassword-modalContainer .body {
    flex: 1; /* Use remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .forgotpassword-modalContainer .footer {
    flex: 0; /* No additional space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add some space between body and footer */
  }

  .button{
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .forgotpassword-modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  